<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card>
    <mat-card-header>
        <mat-card-title>{{isNewEvent ? "New Event" : eventTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content [ngSwitch]="isOwner">
        <div *ngSwitchCase="true">
            <div fxLayout='row'>
                <mat-form-field fxFlex="55%">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [min]="minDate" [matDatepicker]="picker" [ngModel]="eventDate"
                        (dateChange)="updateEventDate($event.value)">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="45%">
                    <input type="time" matInput placeholder="Start Time" [ngModel]="eventTime" name="startTime"
                        (ngModelChange)="updateEventTime($event)">
                </mat-form-field>
            </div>
            <mat-form-field class="full-width">
                <mat-label>Title</mat-label>
                <input matInput name="eventTitle" [ngModel]="(teamEvent | async)?.title"
                    (ngModelChange)="teamEventDoc?.update({title: $event})">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <textarea matInput name="eventDescription" [ngModel]="eventDescription"
                    (ngModelChange)="teamEventDoc?.update({description: $event})"></textarea>
            </mat-form-field>
            <div fxLayout='row'>
                <mat-slide-toggle [(ngModel)]="isLimitedAttendees"
                    (ngModelChange)="teamEventDoc?.update({isLimitedAttendees: $event})">
                    Attendee limit
                </mat-slide-toggle>
                <mat-form-field *ngIf="isLimitedAttendees">
                    <mat-label>Max number</mat-label>
                    <input matInput type="number" name="maxAttendees" [(ngModel)]="maxAttendees"
                        (ngModelChange)="teamEventDoc?.update({maxAttendees: $event})">
                </mat-form-field>
            </div>

            <!-- Disable Team Allocation functionality
            <mat-slide-toggle [(ngModel)]="isTeamAllocations" (ngModelChange)="teamEventDoc?.update({isTeamAllocations: $event})">
                Team Allocations
            </mat-slide-toggle>
-->
            <div *ngIf="isTeamAllocations">
                <div fxLayout='row' fxLayoutAlign="stretch center" *ngFor="let team of teams; let i = index">
                    <button mat-flat-button fxFlex="50%" [matMenuTriggerFor]="teamColorMenu"
                        [matMenuTriggerData]="{index: i}" [style]="'background-color:'+team.color">
                        {{team.color}}
                    </button>
                    <mat-form-field fxFlex="40%">
                        <input type="number" matInput placeholder="Team Size" [(ngModel)]="team.size" name="teamSize">
                    </mat-form-field>
                    <button mat-icon-button aria-label="Remove team" (click)="teams.splice(i,1)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <button mat-raised-button [matMenuTriggerFor]="teamColorMenu"
                    [matMenuTriggerData]="{index: teams.length}" (click)="teams.push({color:'White', size: 0})">
                    <mat-icon inline=true>add</mat-icon>
                    Add Team
                </button>
                <mat-menu #teamColorMenu="matMenu" yPosition="above">
                    <ng-template matMenuContent let-index="index">
                        <button mat-fab *ngFor="let teamColor of teamColors" [style]="'background-color:'+teamColor"
                            (click)="teams[index].color = teamColor">
                        </button>
                    </ng-template>
                </mat-menu>
            </div>

            <div [style]="isTestMode ? 'background-color:beige':''">
                <div fxLayout='row'>
                    <mat-slide-toggle [(ngModel)]="isEventFee"
                        (ngModelChange)="teamEventDoc?.update({isEventFee: $event})">
                        Event Fee
                    </mat-slide-toggle>
                    <span fxFlex></span>
                    <mat-slide-toggle [(ngModel)]="isTestMode"
                        (ngModelChange)="teamEventDoc?.update({isTestMode: $event})"
                        *ngIf="isEventFee && user?.isTester">
                        Test mode
                    </mat-slide-toggle>
                </div>
                <mat-spinner style="margin:0 auto;" *ngIf="isStripeLoading"></mat-spinner>
                <div *ngIf="isEventFee && !isStripeLoading">
                    <a [href]="stripeUrl" mat-button>
                        <img src="https://images.ctfassets.net/fzn2n1nzq965/4M6d6BSWzlgsrJx8rdZb0I/733f37ef69b5ca1d3d33e127184f4ce4/Powered_by_Stripe.svg?q=80&amp;w=1082"
                            alt="Powered by Stripe" width="150" height="34" loading="lazy">
                    </a>
                    <div *ngIf="isStripeAccount && !user?.isStripeAccountEnabled">
                        <h3>Your Stripe account is not activated.</h3>
                        <p>
                            Please complete Stripe onboarding by providing required information.
                            Use <span class="stripe-actionRequired-button">
                                Action required
                                <svg aria-hidden="true" height="12" width="12" viewBox="0 0 16 16"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m10.115 1.308 5.635 11.269A2.365 2.365 0 0 1 13.634 16H2.365A2.365 2.365 0 0 1 .25 12.577L5.884 1.308a2.365 2.365 0 0 1 4.231 0zM8 10.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM8 9c.552 0 1-.32 1-.714V4.714C9 4.32 8.552 4 8 4s-1 .32-1 .714v3.572C7 8.68 7.448 9 8 9z"
                                        fill-rule="evenodd"></path>
                                </svg>
                            </span> button on your Stripe dashboard.
                        </p>
                        <a href="https://dashboard.stripe.com/account/status" mat-raised-button class="stripe-button">
                            <mat-icon inline=true>account_balance</mat-icon>
                            Complete Stripe Onboarding
                        </a>
                    </div>

                    <div *ngIf="!isStripeAccount">
                        <p>
                            To start accepting payments and moving funds to your bank account through the app,
                            you need set up your account with the internet payment processing platform Stripe.
                        </p>
                        <button mat-raised-button (click)="createStripeConnectedAccount()" class="stripe-button">
                            <mat-icon inline=true>account_balance</mat-icon>
                            Create Stripe Account
                        </button>
                    </div>
                    <div *ngIf="isStripeAccount && user?.isStripeAccountEnabled">
                        <div fxLayout="row">
                            <mat-form-field>
                                <span matPrefix>$</span>
                                <input matInput type="number" [ngModel]="eventFee | currency:'':''"
                                    [ngModelOptions]="{updateOn:'blur'}" (ngModelChange)="eventFee=$event" />
                                <button mat-raised-button matSuffix (click)="createStripePrice(eventFee)">
                                    Get Total Fee
                                </button>
                            </mat-form-field>
                        </div>
                        <p>
                            Application Fee: {{applicationFee/100 | currency}}<br />
                            Estimated Stripe Fee: {{(stripePriceUnitAmount-eventFee*100-applicationFee)/100 |
                            currency}}<br />
                            Total payable: {{stripePriceUnitAmount/100 | currency}}
                        </p>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="false">
                <p>{{eventDate.toLocaleString("en-AU", {dateStyle: "full", timeStyle: "short"})}}</p>
                <p>{{eventDescription}}</p>
            </div>
            <mat-progress-bar *ngIf="isPriceLoading" mode="indeterminate"></mat-progress-bar>
            <div *ngIf="isJoined && isStripePrice && !isPaid" fxLayout="row" fxLayoutAlign="stretch center">
                <span>Pay {{stripePriceUnitAmount/100 | currency}} </span>
                <button mat-raised-button style="margin-left: 16px;" (click)="createStripeCheckoutSession()">
                    <mat-icon inline=true>shopping_cart</mat-icon>
                    Proceed to Checkout
                </button>
            </div>
            <p *ngIf="isPaid">
                Paid
                {{paidOn?.toLocaleString("en-AU", {dateStyle: "full", timeStyle: "short"})}}
            </p>
        </div>
    </mat-card-content>
    <div [ngSwitch]="isOwner">
        <!--Owner of the event can always join without the waitlist-->
        <mat-card-actions *ngSwitchCase="true">
            <button mat-raised-button color="primary" (click)="joinEvent()">
                <mat-icon inline=true>{{isJoined ? "person_remove" : "person_add"}}</mat-icon>
                {{isJoined ? "LEAVE" : "JOIN"}}
            </button>
            <button mat-raised-button (click)="copyEventInvite()">
                <mat-icon inline=true>content_copy</mat-icon>
                INVITE
            </button>
            <button mat-raised-button (click)="duplicateEvent()">
                <mat-icon inline=true>file_copy</mat-icon>
                DUPLICATE
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" yPosition="above">
                <button mat-raised-button color="warn" (click)="deleteEvent()">
                    <mat-icon>delete</mat-icon>
                    DELETE
                </button>
            </mat-menu>
        </mat-card-actions>

        <mat-card-actions *ngSwitchCase="false">
            <ng-container *ngIf="isJoined || isWaitlist; else joinButton">
                <button mat-raised-button color="primary" (click)="joinEvent()">
                    <mat-icon inline=true>person_remove</mat-icon>
                    LEAVE
                </button>
            </ng-container>
            <ng-template #joinButton>
                <ng-container
                    *ngIf="!isLimitedAttendees || (maxAttendees != undefined && numberOfParticipants < maxAttendees);else waitlist">
                    <button mat-raised-button color="primary" (click)="joinEvent()">
                        <mat-icon inline=true>person_add</mat-icon>
                        JOIN
                    </button>
                </ng-container>
            </ng-template>
            <ng-template #waitlist>
                <button mat-raised-button color="primary" (click)="joinWaitlist()">
                    <mat-icon inline=true>hourglass_empty</mat-icon>
                    JOIN WAITLIST
                </button>
            </ng-template>
        </mat-card-actions>
    </div>
</mat-card>

<mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="storeSelectedTabIndex($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="mat-tab-icon">groups</mat-icon>
            Attendees {{numberOfAttendees()}}
        </ng-template>
        <app-event-participants [eventId]="eventId"
            (numberOfParticipantsEvent)="numberOfParticipants = $event"></app-event-participants>
    </mat-tab>
    <mat-tab *ngIf="waitlist.length > 0">
        <ng-template mat-tab-label>
            <mat-icon class="mat-tab-icon">hourglass_empty</mat-icon>
            Waitlist {{waitlist.length}}
        </ng-template>
        <mat-list>
            <mat-list-item *ngFor="let participant of waitlist">
                <img matListItemAvatar [src]="participant.photoURL" referrerpolicy="no-referrer"
                    [alt]="participant.displayName">
                <h3 matListItemTitle>{{participant.displayName}}</h3>
            </mat-list-item>
        </mat-list>
    </mat-tab>
    <mat-tab label="Messages" hidden>
        <ng-template mat-tab-label>
            <mat-icon class="mat-tab-icon">forum</mat-icon>
            Messages
        </ng-template>
        <app-messages [eventId]="eventId"></app-messages>
    </mat-tab>
</mat-tab-group>