<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card>
    <mat-card-actions align="end">
        <button mat-raised-button color="accent" (click)="createNewTeam()" data-cy="createNewTeamBtn">
            <mat-icon inline=true>add_circle</mat-icon>
            Create New Team
        </button>
    </mat-card-actions>
</mat-card>

<mat-nav-list>
    <a mat-list-item [routerLink]="['/team/'+team.id]" *ngFor="let team of teams">
        <img *ngIf="team.icon" matListItemAvatar [src]="team.icon" referrerpolicy="no-referrer">
        <i *ngIf="!team.icon" matListItemAvatar class="material-icons">group</i>
        <h3 matListItemTitle [style]="team.title ? '' : 'font-style: italic;'">
            {{team.title ? team.title : "New Team"}}
        </h3>
    </a>
</mat-nav-list>