<mat-list *ngFor="let team of teamColors; let i = index">
    <div mat-subheader *ngIf="!(teamColors.length === 1 && team === 'Undecided')">
        <mat-chip [style]="'background-color:'+team">{{team}}</mat-chip>
        - {{sortedParticipants[i].length}}
    </div>
    <mat-list-item *ngFor="let participant of sortedParticipants[i]">
        <img matListItemAvatar [src]="getAvatarUrl(participant)" referrerpolicy="no-referrer"
            [alt]="getDisplayNameInitials(participant.displayName)" [routerLink]="['/profile', participant.uid]">
        <h3 matListItemTitle (click)="editParticipant(participant)" data-cy="participantDisplayNameTitle">
            {{participant.displayName}}</h3>
        <p matListItemLine *ngIf="participant.isPaid">Paid
            {{participant.paidOn?.toDate()?.toLocaleString("en-AU", {dateStyle: "full", timeStyle: "short"})}}
        </p>
    </mat-list-item>
</mat-list>
<div *ngIf="refusals.length > 0">
    <mat-divider></mat-divider>
    <h3 matSubheader style="text-align: center;" data-cy="notGoingSubheader">Not Going
        {{refusals.length}}</h3>
    <mat-list>
        <mat-list-item *ngFor="let refusal of refusals">
            <img matListItemAvatar [src]="refusal.photoURL" referrerpolicy="no-referrer" [alt]="refusal.displayName"
                [routerLink]="['/profile', refusal.uid]">
            <h3 matListItemTitle>{{refusal.displayName}}</h3>
            <p matListItemLine *ngIf="refusal.isPaid">Paid
                {{refusal.paidOn?.toDate()?.toLocaleString("en-AU", {dateStyle: "full", timeStyle: "short"})}}
            </p>
        </mat-list-item>
    </mat-list>
</div>