<mat-card>
    <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="/event">
            <mat-icon inline=true>add_circle</mat-icon>
            Create New Event
        </button>
    </mat-card-actions>
</mat-card>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<mat-nav-list>
    <a mat-list-item [routerLink]="['/event', teamEvent.id]" *ngFor="let teamEvent of teamEvents">
        <img matListItemAvatar [src]="teamEvent.icon" referrerpolicy="no-referrer" [alt]="teamEvent.title">
        <h3 matListItemTitle>{{teamEvent.title}}</h3>
        <p matListItemLine>
            {{teamEventDateTime(teamEvent.dateTime) | date:'fullDate'}} at
            {{teamEventDateTime(teamEvent.dateTime) | date:'shortTime'}}
        </p>
        <p>{{teamEvent.icon}}</p>
    </a>
</mat-nav-list>