<mat-card *ngIf="user">
    <mat-card-actions align="end">
        <button mat-raised-button color="accent" (click)="createNewEvent()" data-cy="createNewEventBtn" i18n>
            <mat-icon inline=true>add_circle</mat-icon>
            Create New Event
        </button>
    </mat-card-actions>
</mat-card>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<app-about *ngIf="!isLoading && !user"></app-about>

<mat-nav-list>
    <ng-container [ngTemplateOutlet]="eventsList" [ngTemplateOutletContext]="{teamEvents:teamEvents}"></ng-container>
    <div mat-subheader *ngIf="pastEvents.length > 0" i18n>
        Past Events
    </div>
    <ng-container [ngTemplateOutlet]="eventsList" [ngTemplateOutletContext]="{teamEvents:pastEvents}"></ng-container>
</mat-nav-list>

<ng-template #eventsList let-teamEvents="teamEvents">
    <a mat-list-item [routerLink]="['/event/'+teamEvent.id]" *ngFor="let teamEvent of teamEvents">
        <img matListItemAvatar [src]="teamEvent.icon" referrerpolicy="no-referrer" [alt]="teamEvent.title">
        <h3 matListItemTitle [style]="teamEvent.title ? '' : 'font-style: italic;'">
            {{teamEvent.title ? teamEvent.title : "New Event"}}
        </h3>
        <p matListItemLine>
            {{teamEventDateTime(teamEvent.dateTime) | date:'fullDate'}} at
            {{teamEventDateTime(teamEvent.dateTime) | date:'shortTime'}}
        </p>
        <p>{{teamEvent.icon}}</p>
    </a>
</ng-template>